{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Account ID"|t('cloudflare-r2'),
    id: 'accountId',
    name: 'accountId',
    suggestEnvVars: true,
    value: fs.accountId,
    errors: fs.getErrors('accountId'),
    class: 's3-account-id'
}) }}

{{ forms.autosuggestField({
    label: "Access Key ID"|t('cloudflare-r2'),
    id: 'keyId',
    name: 'keyId',
    suggestEnvVars: true,
    value: fs.keyId,
    errors: fs.getErrors('keyId'),
    class: 's3-key-id'
}) }}

{{ forms.autosuggestField({
    label: "Secret Access Key"|t('cloudflare-r2'),
    id: 'secret',
    name: 'secret',
    suggestEnvVars: true,
    value: fs.secret,
    errors: fs.getErrors('secret'),
    class: 's3-secret-key'
}) }}

{% set bucketInput %}
    <div class="flex fullwidth">
        {{ forms.select({
            name: 'bucketSelectionMode',
            options: [
                { label: 'Choose…'|t('cloudflare-r2'), value: 'choose' },
                { label: 'Manual…'|t('cloudflare-r2'), value: 'manual' }
            ],
            value: fs.bucketSelectionMode,
            toggle: true,
            targetPrefix: '.bsm-'
        }) }}

        <div class="bsm-choose{% if fs.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            {{ forms.select({
                id: 'bucket',
                name: 'bucket',
                options: { (fs.bucket): fs.bucket },
                value: fs.bucketSelectionMode == 'manual' ? fs.bucket,
                readonly: true,
                class: 's3-bucket-select'
            }) }}
        </div>
        <div class="bsm-choose{% if fs.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            <div class="btn s3-refresh-buckets">{{ "Refresh"|t('cloudflare-r2') }}</div>
        </div>
        <div class="bsm-choose{% if fs.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            <div class="spinner hidden"></div>
        </div>

        <div class="bsm-manual{% if fs.bucketSelectionMode == 'choose' %} hidden{% endif %} flex-grow">
            {{ forms.autosuggest({
                label: "Bucket"|t('cloudflare-r2'),
                class: 'ltr s3-manualBucket',
                name: 'manualBucket',
                suggestEnvVars: true,
                value: fs.bucket,
                placeholder: 'Bucket'|t('cloudflare-r2')
            }) }}
        </div>
    </div>
{% endset %}


{{ forms.field({
    label: "Bucket"|t('cloudflare-r2'),
    id: 'bucket',
    required: true,
    errors: fs.getErrors('bucket'),
}, bucketInput) }}

{{ forms.autosuggestField({
    label: "Subfolder"|t('cloudflare-r2'),
    instructions: "If you want to use a bucket’s subfolder as a fs, specify the path to use here."|t('cloudflare-r2'),
    id: 'subfolder',
    class: 'ltr',
    name: 'subfolder',
    suggestEnvVars: true,
    value: fs.subfolder,
    errors: fs.getErrors('subfolder'),
    placeholder: "path/to/subfolder"|t('cloudflare-r2')
}) }}

{{ forms.lightswitchField({
    label: "Add the subfolder to the Base URL?"|t('cloudflare-r2'),
    instructions: "Turn this on if you want to add the specified subfolder to the Base URL."|t('cloudflare-r2'),
    name: 'addSubfolderToRootUrl',
    on: fs.addSubfolderToRootUrl,
}) }}

<hr/>

<hr />
{% set cacheInput %}
    {% set expires = (fs.expires|length > 0 ? fs.expires|split(' ') : ['', ''])%}

    <div class="flex">
        <div>
            {{ forms.text({
                id: 'expiresAmount',
                value: expires[0],
                size: 2,
                class: 's3-expires-amount'
            }) }}
        </div>
        {{ forms.select({
            id: 'expiresPeriod',
            options: periods,
            value: expires[1],
            class: 's3-expires-period'
        }) }}
    </div>
    {{ forms.hidden({
        name: "expires",
        value: fs.expires,
        class: "expires-combined"
    }) }}
{% endset %}

{{ forms.field({
    label: "Cache Duration"|t,
    instructions: "The Cache-Control duration that assets should be uploaded to the cloud with.",
    id: 'cacheDuration',
}, cacheInput) }}

{% do view.registerAssetBundle("jrrdnx\\cloudflarer2\\AwsS3Bundle") %}
