{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Account ID"|t('cloudflare-r2'),
    id: 'accountId',
    name: 'accountId',
    suggestEnvVars: true,
    value: volume.accountId,
    errors: volume.getErrors('accountId'),
    class: 'r2-account-id'
}) }}

{{ forms.autosuggestField({
    label: "Access Key ID"|t('cloudflare-r2'),
    id: 'keyId',
    name: 'keyId',
    suggestEnvVars: true,
    value: volume.keyId,
    errors: volume.getErrors('keyId'),
    class: 'r2-key-id'
}) }}

{{ forms.autosuggestField({
    label: "Secret Access Key"|t('cloudflare-r2'),
    id: 'secret',
    name: 'secret',
    suggestEnvVars: true,
    value: volume.secret,
    errors: volume.getErrors('secret'),
    class: 'r2-secret-key'
}) }}

{% set bucketInput %}
    <div class="flex fullwidth">
        {{ forms.select({
            name: 'bucketSelectionMode',
            options: [
                { label: 'Choose…'|t('cloudflare-r2'), value: 'choose' },
                { label: 'Manual…'|t('cloudflare-r2'), value: 'manual' }
            ],
            value: volume.bucketSelectionMode,
            toggle: true,
            targetPrefix: '.bsm-'
        }) }}

        <div class="bsm-choose{% if volume.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            {{ forms.select({
                id: 'bucket',
                name: 'bucket',
                options: { (volume.bucket): volume.bucket },
                value: volume.bucketSelectionMode == 'manual' ? volume.bucket,
                readonly: true,
                class: 'r2-bucket-select'
            }) }}
        </div>
        <div class="bsm-choose{% if volume.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            <div class="btn r2-refresh-buckets">{{ "Refresh"|t('cloudflare-r2') }}</div>
        </div>
        <div class="bsm-choose{% if volume.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            <div class="spinner hidden"></div>
        </div>

        <div class="bsm-manual{% if volume.bucketSelectionMode == 'choose' %} hidden{% endif %} flex-grow">
            {{ forms.autosuggest({
                label: "Bucket"|t('cloudflare-r2'),
                class: 'ltr r2-manualBucket',
                name: 'manualBucket',
                suggestEnvVars: true,
                value: volume.bucket,
                placeholder: 'Bucket'|t('cloudflare-r2')
            }) }}
        </div>
    </div>
{% endset %}


{{ forms.field({
    label: "Bucket"|t('cloudflare-r2'),
    id: 'bucket',
    required: true,
    errors: volume.getErrors('bucket'),
}, bucketInput) }}

{{ forms.autosuggestField({
    label: "Subfolder"|t('cloudflare-r2'),
    instructions: "If you want to use a bucket’s subfolder as a Volume, specify the path to use here."|t('cloudflare-r2'),
    id: 'subfolder',
    class: 'ltr',
    name: 'subfolder',
    suggestEnvVars: true,
    value: volume.subfolder,
    errors: volume.getErrors('subfolder'),
    placeholder: "path/to/subfolder"|t('cloudflare-r2')
}) }}

{{ forms.lightswitchField({
    label: "Add the subfolder to the Base URL?"|t('cloudflare-r2'),
    instructions: "Turn this on if you want to add the specified subfolder to the Base URL."|t('cloudflare-r2'),
    name: 'addSubfolderToRootUrl',
    on: volume.addSubfolderToRootUrl,
}) }}

<hr/>

<hr />
{% set cacheInput %}
    {% set expires = (volume.expires|length > 0 ? volume.expires|split(' ') : ['', ''])%}

    <div class="flex">
        <div>
            {{ forms.text({
                id: 'expiresAmount',
                value: expires[0],
                size: 2,
                class: 'r2-expires-amount'
            }) }}
        </div>
        {{ forms.select({
            id: 'expiresPeriod',
            options: periods,
            value: expires[1],
            class: 'r2-expires-period'
        }) }}
    </div>
    {{ forms.hidden({
        name: "expires",
        value: volume.expires,
        class: "expires-combined"
    }) }}
{% endset %}

{{ forms.field({
    label: "Cache Duration"|t,
    instructions: "The Cache-Control duration that assets should be uploaded to the cloud with.",
    id: 'cacheDuration',
}, cacheInput) }}

{% do view.registerAssetBundle("jrrdnx\\cloudflarer2\\AwsS3Bundle") %}
